.tab {
    overflow: hidden;
    float: left;
    border: 1px solid #eaf5ff;
    background-color: #eaf5ff;
    width: 10%;
    height: 500px;
    padding: 100px 0px;
    /* padding color: #eaf5ff; */
    color: #000000;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 100%;
    color: #000000;
}

.tab button:hover {
    background-color: #d40219;
    color: #ffffff;
}

.tab button.active {
    background-color: #000;
    color: #fff;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #eaf4fe;
    border-top: none;
    float: right;
    width: 87%;
    border-left: none;
    height: 300px;
}